{% extends 'layouts/base.html' %}

{% block title %}Materias{% endblock %}

{% block content %}
<h2>Materias</h2>

<a href="{% url 'core:crear_materia' %}">+ Nueva materia</a>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
    <tr>
        <th>Clave</th>
        <th>Nombre</th>
        <th>Semestre</th>
        <th>Especialidad</th>
    </tr>
    </thead>
    <tbody>
        {% for materia in materias %}
        <tr>
            <td>{{ materia.clave }}</td>
            <td>{{ materia.nombre }}</td>
            <td>{{ materia.semestre }}</td>
            <td>
                {% if materia.es_especialidad %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}