{% extends 'layouts/base_app.html' %}
{% block title %}Dashboard - Se'si Eskani{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="card p-4 shadow-sm">

        <h2 class="text-center mb-4">AVISO DE PRIVACIDAD</h2>

        <p>
            El presente aviso de privacidad aplica a todos los usuarios de la plataforma CACEI en Ingeniería Industrial.
        </p>

        <h5 class="subtema">Identidad y domicilio del responsable</h5>
        <p>
            El Instituto Tecnológico Superior de Huetamo, tiene su domicilio ubicado en:
            Carretera Huetamo-Zitácuaro Km 1.5 camino a Uspio, Tenencia de Cutzeo,
            Huetamo, Mich. C.P. 61940.
        </p>

        <h5 class="subtema">Tratamiento de datos</h5>
        <p>
            Esta plataforma pretende utilizar todos sus datos, incluidos los personales, solo para fines institucionales.
            Todos los datos personales son extraídos del departamento de Ingeniería Industrial, sin violar su contrato con esta institución.
            El usuario administrador del sistema tiene completo acceso a todos sus datos con la finalidad de asegurar la integridad de los mismos,
            y solo para utilizarlos con propósitos académicos-institucionales.
            Ningún dato o información será compartido con entidades externas a menos que esta sea de índole jurídico o con autoridad superior
            sobre esta institución, como el Tecnológico Nacional de México u otra institución.
        </p>

        <h5 class="subtema">Medidas de protección de datos</h5>
        <p>
            Los datos personales están protegidos bajo un sistema estricto de autentificación, de manera que solo son accesibles bajo consentimiento
            de cada usuario. El servidor que almacena los datos contiene varias capas de seguridad para prevenir accesos no autorizados.
            Sus datos además son respaldados por el administrador cuando se considera necesario, por ejemplo al final de un periodo escolar.
        </p>

        <h5 class="subtema">Opciones para limitar el uso de datos personales</h5>

        <p>
            Sus datos personales pueden ser negados para el uso de la plataforma eliminándolos voluntariamente desde su perfil de usuario.
            De esta manera el sistema no tendrá acceso a dichos datos.
            La plataforma no respalda ni recupera datos eliminados por el usuario.
            El usuario debe considerar que al limitar sus datos no podrá acceder a funciones como el envío de correos automáticos.
            Datos como usuario y contraseña son necesarios para identificar al usuario legítimo,
            por lo que solo pueden eliminarse dejando de formar parte del sistema.
        </p>

        <h5 class="subtema">Datos sujetos a tratamiento por la plataforma</h5>

        <p>
            Todos los datos no personales generados dentro de la plataforma mediante sus módulos podrán ser utilizados libremente
            para fines institucionales.
        </p>

        <h5 class="subtema">Uso de Cookies y otras tecnologías</h5>
        <p>
            Esta plataforma utiliza cookies para almacenar inicios de sesión temporalmente.
            Tras 30 minutos de inactividad, estas se eliminan automáticamente.
            Se utilizan únicamente para autenticación.
            También se registra la ubicación, fecha de acceso y tiempo de uso del usuario con fines estadísticos.
        </p>

        <h5 class="subtema">Medios de comunicación oficiales</h5>
        <p>
            La plataforma no solicitará en ningún momento datos bancarios ni información financiera,
            ni datos que no estén definidos en el perfil del usuario.
        </p>

        <h5 class="subtema">Actualización de aviso de privacidad</h5>
        <p>
            Las actualizaciones de este aviso serán notificadas mediante esta misma plataforma.
        </p>

        <p>
            Cualquier duda o comentario, puede comunicarse personalmente con el equipo del proyecto
            Plataforma Académica dentro del Instituto Tecnológico Superior de Huetamo.
        </p>

    </div>
</div>

{% endblock %}